#challenge
{
	padding-bottom:100px;
	.signup
	{
		text-align:center;
		margin-bottom:5em;
	}
	.checkmark
	{
		font-size:4em;
		color:green;
		text-align:center;
		display:none;
	}
	.name
	{
		width:50px;
		@include span-columns(2);
		text-align:right;
	}
	.userprogress
	{
		margin-bottom:5px;
		overflow:hidden;
		
		.progress
		{
			background:#EEE;
			text-align:right;
			@include span-columns(10);
			height:25px;
			position:relative;
			color:#666;
			
			.bar
			{
				float:left;
				background:#2C5999;
				height:25px;
			}
			.numbers
			{
				position:absolute;
				width:100%;
			}
		}
		
	}
}
