#frontpage-news
{
	padding: 5em 0;
	
	h4 {
		margin-bottom: .25em;
	}

	li {
		margin-bottom: 1.25em;
	}
	.news
	{
		@include span-columns(12);

		@include media($medium-screen)
		{
			@include span-columns(6);
		}
		
	}
	.talks
	{
		@include span-columns(12);

		@include media($medium-screen)
		{
			@include span-columns(6);
			@include omega();
		}
	}
}
