#frontpage-about
{
	.container
	{
		padding-bottom:5em;
		border-bottom:1px solid #CCC;
		
		h2
		{
			border:0;
		}
	}
}


#frontpage-news
{
	padding: 3em 0;
	
	h4
	{
		margin-bottom: .25em;
	}

	li {
		margin-bottom: 1.25em;
	}
	.news
	{
		@include span-columns(12);
	}
}
