.talk-action
{
	margin-top:50px;
	
	label {
		@include position(absolute, -999em -9999em null null);
	}
	
	textarea {
		margin-top: 1em;
	}
	
	select
	{
		width:100%;
		padding:6px 12px;
		border:1px solid #CCC;
		border-radius:4px;
		background:#FFF;
		cursor:pointer;
	}
}
