.rss
{
	float:right;
	a
	{
		color:#FF9045;
		&:hover
		{
			color:#FF9045;
		}
	}
}
.talk-action
{
	margin-top:50px;
	
	label:not(.error):not(.stay) {
		@include position(absolute, -9999em null null -9999em);
	}
	
	textarea {
		margin-top: 1em;
	}
	
	select
	{
		width:100%;
		padding:6px 12px;
		border:1px solid #CCC;
		border-radius:4px;
		background:#FFF;
		cursor:pointer;
	}
}
#markdown-preview
{
	padding:20px;
	background:#EEE;
	border:1px solid #CCC;
	border-radius:5px;
	
	ul
	{
		list-style-type:disc;
	}
	ol
	{
		list-style-type:decimal;
	}
}
