<form role="form" method="post" action="<?php echo user::url('login'); ?>">
	<div class="form-group">
		<input type="text" class="form-control" name="email" value="<?php echo arr::get($_POST, 'email',''); ?>" placeholder="E-mail or username" />
	</div>
	<div class="form-group">
		<input type="password" class="form-control" value="" name="password" placeholder="Password" />
	</div>
	<div class="form-group text-right">
		<button type="submit" class="btn btn-primary">Log in</button>
	</div>
	<p>
		<a href="<?php echo user::url('signup'); ?>" title="Sign up">Sign up</a> - <a href="<?php echo user::url('help') ?>" title="Click here if you need help accessing your account">Forgot your password</a>?
	</p>
</form>
<p>
	<a href="<?php echo URL::site('auth/twitter'); ?>" title="Sign in with Twitter">
		<img src="<?php echo URL::site('media/img/sign-in-with-twitter-gray.png'); ?>" alt="Sign in with Twitter" />
	</a>
</p>