@mixin theme_header($args) {
	$bgcolor:map-get($args, 'bgcolor');
	.site-header
	{
		background-color:$bgcolor;
	}
}
@mixin theme_body($args)
{
	$bgcolor:map-get($args, 'bgcolor');
	background-color:$bgcolor;
}
@mixin user_menu($args)
{
	$bgcolor:map-get($args, 'bgcolor');
	.hidden-menu
	{
		background-color:$bgcolor;
	}
	#user-options-triangle
	{
		border-bottom-color:$bgcolor;
	}
	.site-header .navigation-trigger
	{
		background-color:$bgcolor;
	}
}
@mixin theme_footer($args) {
	$bgcolor:map-get($args, 'bgcolor');
	.footer
	{
		background-color:$bgcolor;
	}
}

@mixin theme($args){
	$name:map-get($args, 'name');
	@if $name == null {
		@error 'Required name of theme missing';
	}
	$body:map-get($args,'body');
	$header:map-get($args, 'header');
	$usermenu:map-get($args,'usermenu');
	$footer:map-get($args, 'footer');
	body.#{$name}
	{
		@if $body {
			@include theme_body($body);
		}
		@if $header{
			@include theme_header($header);
		}
		@if $usermenu {
			@include user_menu($usermenu);
		}
		@if $footer{
			@include theme_footer($footer);
		}
	}
}

@import 'trendy';
