@mixin theme_header($args) {
	.index-header,
	.site-header
	{
		@each $key, $value in $args {
			#{$key}:$value
		}
		
	}
}
@mixin theme_body($args)
{
	@each $key, $value in $args {
		#{$key}:$value
	}
}
@mixin user_menu($args)
{
	.hidden-menu
	{
		@each $key, $value in $args {
			#{$key}:$value
		}
	}
	#user-options-triangle
	{
		@each $key, $value in $args {
			#{$key}:$value
		}
	}
	.site-header .navigation-trigger
	{
		@each $key, $value in $args {
			#{$key}:$value
		}
	}
}
@mixin theme_footer($args) {
	.footer
	{
		@each $key, $value in $args {
			#{$key}:$value
		}
	}
}

@mixin theme($args){
	$name:map-get($args, 'name');
	@if $name == null {
		@error 'Required name of theme missing';
	}
	$body:map-get($args,'body');
	$header:map-get($args, 'header');
	$usermenu:map-get($args,'usermenu');
	$footer:map-get($args, 'footer');
	body.#{$name}
	{
		@if $body {
			@include theme_body($body);
		}
		@if $header{
			@include theme_header($header);
		}
		@if $usermenu {
			@include user_menu($usermenu);
		}
		@if $footer{
			@include theme_footer($footer);
		}
	}
}

@import 'trendy';
@import 'material';
