@include theme((
	name:'trendy',
	body:(
		background-color:#53CDEC
	),
	header:(
		background-color:#103A51
	),
	usermenu:(
		background-color:#E25758
	),
	footer:(
		background-color:#103A51
	),
));
