* {
	box-sizing: border-box;
}

.container {
	@include outer-container;
}

body {
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $body-text;
	color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-text;
	color: $dark-color;
}

h1 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	margin-top: $h1-margin-top;
	margin-bottom: $h1-margin-bottom;
	color: $light-color;
}

h2 {
	font-size: $h2-font-size;
	line-height: $h2-line-height;
	margin-top: $h2-margin-top;
	margin-bottom: $h2-margin-bottom;
}

h3 {
	font-size: $h3-font-size;
	line-height: $h3-line-height;
	margin-top: $h3-margin-top;
	margin-bottom: $h3-margin-bottom;
}

h4 {
	font-size: $h4-font-size;
	line-height: $h4-line-height;
	margin-top: $h4-margin-top;
	margin-bottom: $h4-margin-bottom;
}

p {
	margin-bottom: $h3-line-height;
	color: $dark-color;
}

.subtext {
	@extend p;
	font-family: $header-text;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right
}

.hidden {
	display:none;
}

a {
	color: $good-color;
	text-decoration: none;

	&:hover {
		color: $good-color-hover;
		text-decoration: none;
	}

	&:visited {
		color: $good-color;
	}

	&:link, &:active {
		@extend a;
	}
}