button,
input[type="submit"],
.btn {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  
  &.btn-bad
  {
  	background-color:#d9534f;
  	&:hover
  	{
  		background-color:#c9302c;
  	}
  }
  &.btn-good
  {
  	background-color:#5cb85c;
  	&:hover
  	{
  		background-color:#449d44;
  	}
  }
}
