fieldset {
  background: lighten($base-border-color, 10);
  border: $base-border;
  margin: 0 0 ($base-spacing / 2) 0;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  outline: none;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

input[type="text"].error,
input[type="email"].error,
input[type="password"].error,
input[type="date"].error,
select[multiple="multiple"].error,
select.error,
textarea.error,
textarea.error:focus
textarea.error:not(:focus)
{
	border-color:darken($error-color, 60) !important;
}

input[type="text"].valid,
input[type="email"].valid,
input[type="password"].valid,
input[type="date"].valid,
select[multiple="multiple"].valid,
select.valid,
textarea.valid,
textarea.valid:focus
textarea.valid:not(:focus)
{
	border-color:darken($success-color, 60) !important;
}

label {
  font-weight: bold;
  margin-bottom: $base-spacing / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}
label.error
{
	@extend %flash-base;
	@include flash($error-color);
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: white;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-spacing / 2;
  padding: ($base-spacing / 3) ($base-spacing / 3);
  width: 100%;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    outline: none;
  }
}

textarea {
  resize: vertical;
  outline: none;
  border-color: transparent;
  box-shadow: none;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $base-spacing / 4;
}

input[type="file"] {
  padding-bottom: $base-spacing / 2;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
  border:1px solid #DDD;
  padding:5px;
  background:#FFF;
  border-radius:3px;
  cursor:pointer;
}
