/* Color Settings */
$bad-color: #CF8A80;
$bad-color-hover: #FFC3BA;
$good-color: #95B37B;
$good-color-hover: #A5CC82;
$header-color: $good-color;
$light-color: #fff;
$dark-color: #262120;
$subtle-accent: #F2F1EF;
$text-color: #333;

/* Grid Setting */
$max-width: 960px;

$large-screen: 960px;
$medium-screen: 768px;

$body-text: "ff-tisa-web-pro";
$header-text: "futura-pt",sans-serif;