.cards {
  @include clearfix;
}

.card {
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5);
  $card-stats-color: lighten($base-accent-color, 10);
  $comment-background: lighten($base-accent-color, 15);
  $pagination-border-color: $base-border-color;
  $pagination-background: lighten($pagination-border-color, 10);
  
  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  margin-bottom: $base-spacing;
  box-shadow: 0 2px 4px darken($base-background-color, 10);
  position: relative;
  @include span-columns(12);

  @include media($large-screen) {
    @include span-columns(12);  
  }

  .card-image {
    overflow: hidden;
    max-height: 150px;
    text-align: center;

    img {
      width: 100%;
      @include transition (all 0.2s ease-in-out);
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }
  }

  .ribbon-wrapper {
    $ribbon-size: 85px;
    $ribbon-background: $base-accent-color;
    @include size($ribbon-size);
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px;

    .ribbon {
      font-size: .8em;
      font-weight: 800;
      text-align: center;
      @include transform(rotate(45deg));
      position: relative;
      padding: 2px 7px;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: $ribbon-background;
      color: white;
      box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    }
  }

  .card-icon {
    @include span-columns(12);
    padding: 10px;
    text-align: center;

      > img {
        width: 100px;
        height: auto;
        margin: 0 auto 1em;
        border-radius: 50%;
        background: $comment-background;
        display: block;
        max-width: none;
      }

      @include media($medium-screen)
      {
        @include span-columns(2);
      }
  }

  .card-content {
    text-align: left;
    @include span-columns(12);
    @include omega();

    @include media($medium-screen)
    {
      text-align: left;
      @include span-columns(10);
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    @include fill-parent;
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    padding: $base-spacing/3 $gutter/2;
    color:$base-font-color;
    text-transform:capitalize;
    
    h3
    {
    	margin-bottom:0;
    	a
    	{
    		&.read
  			{
  				color:darken($blue, 20%);
  			}
  			&.unread
  			{
  				color:$blue;
  			}
    	}
    }
    &.announcement
    {
    	h3
    	{
    		a
    		{
    			&.read
    			{
    				color:darken($red, 20%);
    			}
    			&.unread
    			{
    				color:$red;
    			}
    		}
    	}
    }
  }

  .card-copy {
    @include fill-parent;
    padding: $base-spacing/2 $gutter/2;
    font-size: .9em;
    line-height: 1.5em;
    color:$base-font-color;

  }

  .card-stats {
    @include fill-parent;
    margin-top: 3em;
    padding: $base-spacing/2 $gutter/2;
    overflow: hidden;
    text-align: center;

    @include media($medium-screen)
    {
      @include fill-parent;

    }

    ul {
      float: right;
    }

    ul li {
      display: inline;
      color: $card-stats-color;
      font-weight: 800;
      font-size: 1.2em;
      float: left;
      border-right: 1px solid transparentize($base-font-color, .8);
      line-height: 1.1em;
      padding: 0 .7em 0 .7em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: 0;
      }

      span {
        color: $base-font-color;
        font-size: .7em;
        display: block;
        font-weight: normal;
      }
    }
  }
  
  .card-pagination
  {
  	padding: $base-spacing/2 0 $base-spacing/2 $gutter/2;
  	margin-right:$gutter/2;
  	border-top:1px solid #DDD;
  	overflow:hidden;
  	
  	.left
  	{
  		@include span-columns(6);
  	}
  	.right
  	{
  		@include span-columns(6);
  		text-align:right;
  		a
	  	{
	  		 background: $pagination-background;
	  		 padding: $base-spacing/4 $gutter/4;
	  	}
  	}
  }

  &:hover {
    background-color: $card-hover-background;
    
    .card-image img {
      background: $card-image-hover-background;
    }
  
    .card-header {
      background-color: $card-hover-background;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}
