.comments {
	margin-bottom:50px;

  .comment {
    @include outer-container;
    border-radius: 3px;
    padding: 1em 0;
    margin-bottom: 1em;
    box-shadow: 0 2px 4px #e6e6e6;
    border: 1px solid #ccc;

    @include media($medium-screen)
    {
       padding: 1em;
    }
    
    &:nth-child(odd) {
      background-color: darken(#fff, 3%);
    }

    &:nth-child(1) {
      background-color: lighten($good-color, 55%);
      border-color: lighten($good-color, 50%);
    }

    .comment-bio {
    @include fill-parent;
    text-align: center;
    border-bottom: 1px solid #ccc;

      @include media($medium-screen)
      {
        @include span-columns(2);
        text-align: left;
        border-bottom: none;
      }
      

      > img {
        border-radius: 50%;
      }

      .comment-detail {
        font-size: .85em;
        font-style: italic;
        padding-top: .5em;
      }
    }

    .comment-content {
      @include fill-parent;
      padding: 1em;

      @include media($medium-screen)
      {
        @include span-columns(10);
        @include omega;
      }

      h3 {
       @include fill-parent;
        padding-bottom: .5em;
        margin-bottom: .5em;

        @include media($medium-screen)
        {
           border-bottom: 1px solid #ccc;
        }
      }
    }
    .comment-content.editarea
    {
    	display:none;
    }

    .comment-footer {
      @include clearfix;
      @include span-columns(12);
      position: relative;
      border-radius: 3px;
      padding: .5em;
      margin-top: 1em;
			
			.comment-meta {
				float:left;
			}
			
      .comment-actions {
        float: right;
      }

      button {
        font-family: $helvetica;
      }
      .voted
      {
      	background-color: #49CA54;
      }
        .deletebutton
      {
        background: #CA5449;
      }
    }
  }
}

