.comments
{
	margin-bottom:50px;
}
.comment {
  $comment-gutter: 1.4em;
  $comment-image-padding: .7em;
  $comment-image-width: 100px;
  $comment-color: $base-font-color;
  $comment-background: lighten($base-accent-color, 15);
  $comment-detail-color: transparentize($comment-color, .5);
  $comment-image-vert-alignment: top;

  display: table;
  width: 100%;
  padding: 1em;
  border: 1px solid transparentize($comment-color, .9);
  border-radius: 4px;
  margin-bottom: 1em;

  &:nth-child(even) {
    background-color: lighten($good-color, 60);
  }

  .comment-image,
  .comment-content {
    display: table-cell;
    vertical-align: $comment-image-vert-alignment;
  }

  .comment-image {
    padding-right: $comment-gutter;

    > img {
      width: $comment-image-width;
      height: auto;
      border-radius: 50%;
      padding: 2px;
      background: $comment-background;
      display: block;
      max-width: none;
    }

    .comment-reverse-order & {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .comment-content {
    position: relative;
    width: 100%;

    h1 {
      font-size: 1em;
      margin-bottom: .5em;
    }

    p {
      margin-bottom: .5em;
    }

    p.comment-detail {
      @include position(absolute, null 0 0 null);
      text-align: right;
      font-style: italic;
      font-size: .9em;
      color: $comment-detail-color;
    }
    img {
    	max-width:300px;
    	max-height:300px;
    }
  }
}
.comment.op
{
  background-color: lighten($good-color, 55%);
}

