.container {
	position: relative;
	margin: 0 auto;
	@include outer-container();
	padding: 0 1em;

	@include media($medium-screen)
	{
		padding: 0;
	}
}

.half {
	@include span-columns(12);

	@include media($medium-screen)
	{
		@include span-columns(6);
		@include omega(2n);
	}
}