.index-header {
	padding: 1em 0;
	background-color: $good-color;
	color: $light-color;

	.logo {
		@include span-columns(6);

		a {
			color: $light-color;
		}
	}

	nav {
		ul {
			float: right;
		}

		li {
			display: inline-block;
			padding: 1em;
		}

		a {
			color: $light-color;
		}
	}
}

.site-header {
	position: relative;
	@extend .index-header;

	.logo {
		@include span-columns(4);

		a {
			color: $light-color;
		}
	}

	.navigation-trigger {
		outline: none;
		border-radius: 4px;
		background-color: $good-color;
		transition: background-color 600ms ease-in;

		&:hover {
			background-color: $good-color-hover;
		}
	}

	.navigation-trigger-clicked {
		background-color: $good-color-hover;
	}
	
	nav.default {
		@include span-columns(8);
		@include omega();
		overflow: hidden;
	}
}