.index-header {
	padding: 1em 0;
	background-color: $good-color;
	color: $light-color;

	.logo {
		@include span-columns(6);
		text-indent: -999em;
		width: 236px;
		height: 56px;
		background: url('/media/img/logo.png') no-repeat;
		background-position: left center;
		background-size: contain;

		a {
			color: $light-color;
		}
	}

	nav {
		ul {
			float: right;
		}

		li {
			display: inline-block;
			padding: 1em;
		}

		a {
			color: $light-color;
		}
		@include media-query($small-screen) {
		  display: none;
		}
	}
}

.site-header {
	position: relative;
	@extend .index-header;

	.logo {
		@include span-columns(6);
		text-indent: -999em;
		width: 236px;
		height: 56px;
		// margin-top: 10px;
		background: url('/media/img/logo.png') no-repeat;
		background-position: left center;
		background-size: contain;

		a {
			color: $light-color;
		}
	}

	.navigation-trigger {
		outline: none;
		border-radius: 4px;
		background-color: $good-color;
		transition: background-color 600ms ease-in;

		&:hover {
			background-color: $good-color-hover;
		}
	}

	.navigation-trigger-clicked {
		background-color: $good-color-hover;
	}
	
	nav.default {
		@include span-columns(8);
		@include omega();
		overflow: hidden;

		@include media-query($small-screen) {
		  display: none;
		}
	}
}