.hidden-menu {
	position: relative;
	display: none;
	background-color: $subtle-accent;
	color: $dark-color;

	ul {
		float: right;

		li {
			display: inline-block;
			padding: 1em;
			text-align: center;
			vertical-align: middle;
			border-right: 1px solid shade($light-color, 10%);
			color: $light-color;
			
			&:first-child {
				border-left: none;
			}

			&:last-child {
				border-right: none;
			}
		}
	}

	select {
		margin-bottom: 0;
	}

	a {
		color: $light-color;

		&:hover {
			color: shade($light-color, 10%);
		}
	}
}

/*This is actually located inside of _header.scss but makes more sense to put here */

.triangle {
	@include position(absolute, null 5px -16px null);
	display: none;
	@include triangle(40px, $subtle-accent, up);
	transition: all 600ms ease-in;
}