.hidden-menu {
	display: block;
	background-color: $subtle-accent;

	ul {
		li {
			display: inline-block;
			padding: 1em;
			text-align: center;
			vertical-align: middle;
			border-right: 1px solid $text-color;
		}
	}

	select {
		margin-bottom: 0;
	}
}