.hero {
  $hero-background-top: darken($base-accent-color, 25); 
  $hero-background-bottom: adjust-hue($hero-background-top, -70);
  $hero-color: $light-color;
  $gradient-angle: 10deg;
  $hero-image: '/media/img/heroes/hero.jpg';

  @include background(url($hero-image));
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: calc(100% - 88px);

  .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    text-align: center;
    color: $hero-color;
    text-shadow: 1px 1px 1px #333;
    @include position(absolute, 50% null null 50%);
    transform: translate(-50%, -50%);

    @include media-query($small-screen) {
        position: relative;
        top: 0; left: 0;
        transform: none;
        padding: 4em 10px;
    }

    @include media-query($tiny-screen) {
        position: relative;
        top: 0; left: 0;
        transform: none;
        padding: 2em 10px;
    }


    .cta-button {
      @include linear-gradient($good-color, $good-color-hover);
      border-top: 1px solid shade($good-color, 10%);
      padding: 20px 40px;
      border-radius: 8px;
      box-shadow: shade($good-color, 30%) 0 1px 0;
      text-shadow: rgba(0,0,0,.4) 0 1px 0;
      color: #fff;
      font-size: 24px;
      margin-bottom: 0;
      text-decoration: none;
      vertical-align: middle;
      
      @include media-query($small-screen) {
        font-size: 18px;
      }

      @include media-query($tiny-screen) {
        padding: 15px 30px;
      }
      
      &:hover {
        @include linear-gradient(shade($good-color, 10%), shade($good-color-hover, 10%));
        border-top-color: shade($good-color, 10%);
      }

      &:active {
        @include linear-gradient(shade($good-color, 20%), shade($good-color-hover, 20%));
        border-top-color: shade($good-color, 20%);
      }
    }

    .hero-copy {
      text-align: center;
      max-width: 100%;
      
      .subtext {
        font-size: .77em;
      }

      h2 {
        font-size: 2em;
        margin-bottom: .5em;
      }

      p {
        font-family: $serif;
        margin: auto;
        margin-bottom: 1em;
        font-weight: 200;
        line-height: 1.5em;
        font-size: 1.5em;

        @include media($small-screen) {
          margin-bottom: 3em;
        }

        @include media($large-screen) {
          max-width: 100%;
        }
      }
  
      .cta-p {
        margin-bottom: 2em;
        font-family: $sans-serif;
      }
    }
  }
}
