.main {
	padding: 4em 0;
	min-height: calc(100% - 446px);

	h2 {
		margin-bottom: 1em;
	}

	.subtext {
		float: left;
	}

	.writing-submit {
		float: right;
	}

	textarea#morningpage-content {
		resize: none;
	}

	textarea#morningpage-content:not(:focus) {
		border: 1px solid shade($light-color, 10%);
	}
}