.hamburger-container {
  @include position(absolute, 18px 10px null null);
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  @include media-query($small-screen) {
    display: block;
    float: right;
  }

    .hamburger-line {
      display: block;
      width: 100%;
      height: 3px;
      background-color: #fff;
      margin-bottom: 5px;
      transition: all 600ms ease;
      border-radius: 4px;
      
      :last-child {
        margin-bottom: 0;
      }
    }

    .rotate-left {
      position: absolute;
      top: 10px;
      left: 0;
      transform: rotate(225deg);
      transition: all 600ms ease;
      transition-delay: 200ms;
    }

    .rotate-right {
      position: absolute;
      top: 10px;
      left: 0;
      transform: rotate(-225deg);
      transition: all 600ms ease;
    }

    .hide-me {
      background: rgba(0,0,0,0);
      margin-top:-20px;
      transition: all 600ms ease;
    }
}

.mobile-navigation {
  @include position(fixed, 0 null 0 -201px);
  background-color: darken($good-color, 10);
  width: 200px;
  z-index: 50;
  border-right: 1px solid darken($good-color, 20);
  transition: all 600ms ease-in;

  &-active {
    @include position(fixed, 0 null 0 0);
  }

  ul {
    @include fill-parent;
  }

  li {

    &:hover {
      background: lighten($good-color, 10);
    }

    &.header {
      font-weight: bold;
      padding: 1em 1em 0 1em;
      font-size:1.2em;

      &:hover {
        background: darken($good-color, 10);
      }
    }

    a {
      display: inline-block;
      padding: 1em;
      color: #fff;
      width: 100%;
    }
  }

  .mobile-select {
    margin: 1em;
    width: 150px;
  }
}