.no-outline {
	outline: none;
}
select, input {
	@extend .no-outline;
	display: block;
	margin: .25em 0;
	border: 1px solid #ccc;
	background-color: #fff;
	font-family: $header-text;
	font-size: $base-font-size;
	color: #6C7A89;
	padding: .5em .6em;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
}

input:not([type="checkbox"]){
	@extend .no-outline;
	width: 40%;
}

input[type="file"] {
	position: fixed;
	top: -999em;
	left: -999em;
}

select {
	@extend .no-outline;
	height: 41px;
}


label.button {
	margin-bottom: 1em;
}

.checkbox-button {
	margin-left: -999em;
}

textarea:focus {
	@extend .no-outline;
	background-color: $light-color;
}

textarea {
	@extend .no-outline;
	margin-bottom: $h2-margin-top;
	background-color: $subtle-accent;
	border-radius: 4px;
}

label {
	display: block;
	font-size: $base-font-size;
}

label.file {
	display: inline-block;
	@extend .btn;
	@extend .btn-good;
}

.form-group {
	padding: 1em 0;
	@include span-columns(12);
}

.half-form-group {
	padding: 1em 0;
	@include span-columns(6);
	@include omega();
}