/* Notes */
#jGrowl
{
	div.jGrowl
	{
		font-family: $header-text;
		color: $light-color;
		font-size: modular-scale($base-font-size, 0, 1.618);
	}

	div.growl-success
	{
		background-color:$good-color;
		/*color:#468847;*/
		border: none;
		
		&:hover
		{
			background-color:$good-color-hover;
		}
	}
	div.growl-info
	{
		background-color:#556b8d;
		/*color:#3a87ad;*/
		border: none;
	}
	div.growl-warning
	{
		background-color:#EFA131;
		/*color:#c09853;*/
		border:none;
	}
	div.growl-danger,
	div.growl-error
	{
		background-color:$bad-color;
		/*color:#b94a48;*/
		border:none;
		
			&:hover
			{
				background-color:$bad-color-hover;
			}
	}
}

.jGrowl-message
{
	font-family: $header-text;
	font-size: modular-scale($base-font-size, 0, 1.618);
	color:$light-color;
	
	a
	{
		font-family: $header-text;
		font-size: modular-scale($base-font-size, 0, 1.618);
		color:$light-color;
	}
}

