.user-options-modal {
	display: none;
	position: absolute;
	background-color: $subtle-accent;
	width: 768px;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	padding: 1em;
	border-radius: 4px;
	border: 3px solid #ECECEC;
	z-index: 20;
	@include outer-container;

  	header {
  		padding: 1em;
  		border-radius: 4px;
  		overflow: hidden;

  		h3 { 
  			margin: 0;
  			color: $light-color; 
  		}
  	}

  	&-body {
  		margin: 0 0 $h4-margin-top 0;
  		border-top: 10px solid $good-color;
  	}

  	.modal-tabbed-nav {
  		margin-top: 19px;
		
		ul {
			margin: 0;
		}

		li {
			display: inline-block;
			text-align: center;
			font-family: $header-text;
			font-weight: 100;
			color: #6C7A89;
			background-color: #999999;
			vertical-align: middle;
			transition: background-color 0.3s ease 0s;
			@include border-top-radius(4px);

			&:hover {
				background-color: $good-color-hover;
			}

			a {
				padding: 15px;
				color: $light-color;
			}

			&:last-child {
				border: none;
			}
		}

		.active-tab {
			background-color: $good-color;
		}
	}
}

.shortcuts-modal {
  @extend .user-options-modal;

  .modal-list {
     dt {
     	display: inline;
     	font-weight: bold;
     }

     dd {
     	@extend dt;
		font-weight: normal;
     }
  }
}
.change-password {
	display: none;
}

.delete-account {
	@extend .change-password;
}

.form-container {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #BFBFBF;
}

.inline {
	display: inline-block;
}

.modal-overlay {
	display: none;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: rgba(0,0,0,.25);
	z-index: 15;
}