article {
	.wordcloud {
		width:40%;
		background:#EEE;
		padding:20px;
		margin:20px;
		border-radius:10px;
		
			.wordcloud-heading {
				border-bottom:1px solid #CCC;
				margin-bottom:10px;
				
					h3 {
						margin-top:0;
						margin-bottom:10px;
					}
			}
			.orange
			{
				color:#f57500;
			}
			.red
			{
				color:#952a12;
			}
			.brown
			{
				color:#af9513;
			}
			.green
			{
				color:#8ba61f;
			}
	}
}
