.user-options {
	position: relative;
	display: none;
	margin: 0;
	padding: .5em 0;
	background-color: #F2F1EF;
	z-index: 5;
	overflow: none;

}

ul {
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		padding: 15px;
		height: 90px;
		border-right: 1px solid #BFBFBF;
		text-align: center;
		font-family: $header-text;
		font-weight: 100;
		color: #6C7A89;
		vertical-align: middle;

		&:last-child {
			border: none;
		}
	}
}