header {
	position: relative;
	width: 100%;
	padding: $h4-margin-top/2 0;
	background-color: $header-color;

	h1, h2 {
		margin: 0;
		color: $light-color;
	}
	h1.logo {
		a {
			color: $light-color;
		}
	}
	.container
	{
		position:relative;
		
		.triangle {
			#margin-top: -29px;
			@include triangle(40px, #F2F1EF, up);
			position:absolute;
			bottom:-15px;
			right:0;
			display:none;
		}
	}
}