.social-button {
  display: block;
  cursor: pointer;
  width: 240px;
  margin-left: 10px;
  margin-bottom: 14px;
  padding: 6px;
  box-shadow: none;
  border: none;
  font-family: $helvetica;
  color: #fff;
  font-size: 16px;
  text-align: left;
  border-radius: 3px;
  
  .fa {
    font-size: 26px;
    display: inline-block;
  }
  
  span {
    display: inline-block;
    height: 26px;
    vertical-align: middle;
  }
}

.facebook-button {
  background: #3b5998;
  color: #fff;
    
  &:hover {
    background: lighten(#3b5998, 10%);
  }
}

.twitter-button {
  background: #55acee;
  color: #fff;
  
  &:hover {
    background: lighten(#55acee, 10%);
  }
}