/*
 * Primary: Teal, Indigo, green
 * Secondary: ?
 */

$color-red:#f44336;
$color-pink:#e91e63;
$color-accent-pink:#ff4081;
$color-purple:#9c27b0;
$color-deep-purple:#673ab7;
$color-indigo:#3f51b5;
$color-blue:#2196f3;
$color-light-blue:#03a9f4;
$color-cyan:#00bcd4;
$color-teal:#009688;
$color-green:#4caf50;
$color-light-green:#8bc34a;
$color-lime:#cddc39;
$color-yellow:#ffeb3b;
$color-amber:#ffc107;
$color-orange:#ff9800;
$color-deep-orange:#ff5722;
$color-brown:#795548;
$color-grey:#9e9e9e;
$color-blue-grey:#607d8b;
$color-black:#000;
$color-white:#FFF;