@import url(http://fonts.googleapis.com/css?family=Quattrocento:700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);
body
{
	background:#EFECCA; 
	font-family: 'Quattrocento', serif;
	font-size:1.75em;
	line-height:1.5em;
}
.tab-pane
{
	padding-top:20px;
}
#bg
{
	background:url(../img/background.jpg) top center no-repeat;
	background-attachment:fixed;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index:0;
	border-bottom:1px solid #000;
}
.btn
{
	border-radius:0;
}
h1,h2,h3,h4,h5,h6
{
	font-family: 'Quattrocento', serif;
	text-transform:uppercase;
}
h1,h2
{
	border-left:15px solid #046380;
	padding-left:10px;
}
dt
{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 24px;
	font-family: 'Quattrocento', serif;
	font-weight: 500;
}
.form-control
{
	font-size:18px;
}
.btn-default
{
	color:#046380;
}
a
{
	color:#002F2F;
}
.red
{
	color:#800404;
}
.container
{
	position:relative;
	z-index:2;
}
#header
{
	margin-top:200px;
}
	#header #logo
	{
		color:#FFF;
		font-size:2.5em;
		text-shadow: 1px 1px 1px #000000;
		text-transform: uppercase;
		font-weight:bold;
	}
		#header #logo:hover
		{
			text-decoration:none;
			color:#FFF;
		}
#main
{
	background:#FFF;
	padding:10px;
	padding-bottom:50px;
	box-shadow:4px 4px 5px 0 rgba(50, 50, 50, 0.15);
}
	#main #content
	{
		border-right:2px dashed #E6E2AF;
	}
	#main #sidebar
	{
		
	}
		#main #sidebar .write
		{
			background:#046380;
			border-color:#046380;
		}
		#main #sidebar h3
		{
			padding-left:0;
			border:0;
		}
.wordcloud
{
	/*border:2px dashed #E6E2AF;*/
	background:#EEE;
	padding:20px;
	margin:10px;
	padding-top:0;
}
#footer
{
	background:#A7A37E;
	padding:20px;
	margin-top:20px;
	margin-bottom:20px;
	box-shadow:4px 4px 5px 0 rgba(50, 50, 50, 0.15);
}
	#footer h3
	{
		border:0;
		padding:0;
		margin:0;
	}
	#footer .nav
	{
		
	}
		#footer .nav li
		{
			
		}
			#footer .nav li a
			{
				text-decoration:underline;
				padding-top:0;
				padding-bottom:0;
			}
				#footer .nav li a:hover
				{
					background:none;
				}
.note-alert
{
	box-shadow: 2px 2px 3px #000;
	border-radius: 0;
	z-index:999;
}

@media (max-width: 992px)
{
		#main #content
		{
			border:0;
		}
		#footer h3
		{
			text-align:center;
		}
			#footer .nav li
			{
				width:45%;
				text-align:center;
			}
				#footer .nav li a
				{
					padding-top:20px;
				}
		#footer .navbar-right
		{
			float:none !important;
		}
}
@media (max-width: 768px)
{
	#bg
	{
		background:#A7A37E;
	}
		#footer .nav li
		{
			width:100%;
			text-align:left;
		}
	#header
	{
		margin-top:20px;
	}
	.wordcloud
	{
		display:none;
	}
}